@media screen and (max-width:880px) {
    .header{
        position: absolute;
        width: 300px;
        height: 3px;
        color: aliceblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 30px;
        border: 1px solid;
        margin-top: -4px;
        border-color: aliceblue;
        border-radius: 3px;
        transition: 0.3s;
        
    }
    .main{
        position: absolute;
        border: 2px solid;
        border-radius: 2px;
        background-color: aliceblue;
        font-size: 27px;
        text-align: left;
        width: 230px;
        height: 70px;
        background: none;
        color: aliceblue;
        margin: 35px 65px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    .resume{
        position: absolute;
        width: 100px;
        height: 22px;
        font-size: 15px;
        padding-top: 3px;
        margin: 180px 10px;
        color: aliceblue;
        border-radius: 3px;
        background-color: #cc986b;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: 0.3s;
    }
    
    .fake{
        position: absolute;
        width: 5px;
        height: 35px;
        background-color: #cc986b;
        margin: 150px 140px;
    }
    .text{
        position: absolute;
        width: 1000px;
        font-size: 34px;
        color: #cc986b;
        margin: 150px 160px;
    }
    .abil{
        position: absolute;
        background-color: #cc986b;
        color: aliceblue;
        font-size: 30px;
        margin: 230px 10px;
        width: 320px;
        padding: 5px 5px 5px 20px;
        border-radius: 5px;
    }
    .list{
        position: absolute;
        color: #cc986b;
        font-size: 28px;
        margin: 270px 10px;
        width: 400px;
    }
    .foot{
        position: absolute;
        color: #cc986b;
        font-size: 15px;
        margin: 490px 40px;
    }
}
